.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.tab_section h5 {
  text-align: left;
}

.tab_section {
  display: flex;
    justify-content: center;
    box-shadow:2px 2px 14px 4px #dcd8d8;
    width: 70%;
    margin: 50px auto;
    padding: 20px;
}

.card-body {
  padding: 15px 10px;
}

.amazon_data,.cloud_data {
  margin: 0px 10px;
  width: 100%;

}

  .tabs_section label {
    margin: 5px 0px;
  }
.table tr {
  border: 1px solid #ccc;
}
.table tr td {
  padding:10px;
}

select.selector {
  width: 100%;
  padding: 5px;
  margin: 5px 0px;
  margin: auto;
  cursor: pointer;
}

.tab_content p {
    padding: 14px;
    font-size: 20px;
}

.tabs_section .nav.nav-tabs li a {
  background-color: #ccc;
  padding: 6px 7px;
  margin: 0px 3px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}



footer.py-5 {
    background-color: #292929;
    color: #fff;
}

.section {
  margin: 50px 0px;
}

.dashboard_option{
  display: none;
}

.dashboard_option_active {
  display: block;
}

.background_nav .nav-item a.nav-link{
    color: #fff !important;
}

.footer_Section li.nav-item a {
  color: #fff !important;
}


.card_wrapper {
  display: flex;
}
.card {
  box-shadow: 2px 2px 13px 2px #ccc;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-title {
    background-color: #e6e6e6;
    padding: 8px;
    font-size: 16px;
}

header h3{

  margin-left: 20px;
}
header {
  padding: 16px;
}

.section h3 {
  margin: 34px 0px;
  text-align: left;
}

.dropdown-menu a {
  color: #000 !important;
}

.background_nav {
  background-color: #969696;
}

.card_image img {
  height: 100%;
  width: 100%;
}

.card_image {
  height: 150px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
